@import '../../../styles/variables.scss';

.recipe-form {
    background-color: #1e1e1e;
    padding: 50px 0;

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }

    &__field {
        margin-bottom: 16px;
        max-width: 400px;

        label {
            font-weight: bold;
            margin-bottom: 8px;
            font-size: 20px;
            color: white;
        }

        input,
        textarea {
            margin-top: 8px;
            padding: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;

            &:focus {
                outline: none;
                border-color: #4caf50;
            }
        }

        textarea {
            resize: vertical;
        }
    }

    &__button {
        button {
            padding: 13px 30px;
            background-color: #000000;
            color: white;
            border: 1.5px solid red;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #45a049;
            }
        }
    }
}