@import '../../../styles/variables.scss';

.recipes {
  background-image: url('../../../assets/home/background.png');
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    @media (max-width: $small-tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__save {
    margin-right: 35px;
    background-color: #020101;
    color: white;
    padding: 8px 15px;
    text-align: center;
    border: 1.5px solid red;
    border-radius: 5px;
  }

  &__addFavourite {
    width: 40px;
    height: 40px;
  }

  &__disableClick {
    cursor: not-allowed;
  }
}