.recipe-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
  
    &__image {
      width: 100%;
    }
  
    &__content {
      position: relative;
      color: white;
      text-align: center;
      padding: 0 32px;
      margin-top: 32px;
      display: flex;
      flex-direction: column;
  
      &__sub-title {
        margin-top: 10px;
      }
    }
  
    &__ingredient-list {
      margin: 10px 0;
  
      &__ingredient {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  
    &__button-block {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .recipe-card_login-popup {
    position: absolute;
    padding: 5px 5px;
    background-color: white;
    color: black;
    font-size: 10px;
    border: 1px solid red;
    bottom: 75px;
    right: 5px;
    border-radius: 10px;
    transition: 1.5s opacity, 1.5s border-color;
    opacity: 0;
  }
  
  .recipe-card__button-block:hover ~ .recipe-card_login-popup {
    opacity: 1;
  }