.recipe-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
  
    &__image {
      width: 100%;
    }
  
    &__content {
      color: white;
      text-align: center;
      padding: 0 32px;
      margin-top: 32px;
      display: flex;
      flex-direction: column;
  
      &__sub-title {
        margin-top: 10px;
      }
    }
  
    &__ingredient-list {
      margin: 10px 0;
  
      &__ingredient {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  
    &__button-block {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }